 
.pill{
    font-size: 16px;  
    color: black;
    margin-right: 3px!important;
    margin-bottom: 3px!important;
}
.mdfooter{
    margin-top: -15px;
    background-color:white;
 }
 .whitebg{
     background-color: white;
 }